body{
    background-color: aquamarine;
}
.App{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  height: 100vh;
  border-color: black;
}
.buttons-Container{
  display: flex;
  padding: 15px;
  margin: 20px;
}
.button{
  color: aqua;
  background-color: black;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;

}
.button-right{
  color: aqua;
  background-color: black;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
}